<!--sidebar-->
<c-sidebar
  #sidebar1="cSidebar"
  class="d-print-none sidebar sidebar-fixed border-end"
  colorScheme="dark"
  id="sidebar1"
  visible
>
  <c-sidebar-header class="border-bottom" style="background-color: white; padding: 1rem; display: flex; justify-content: center; align-items: center;">
    <c-sidebar-brand [routerLink]="[]" style="display: flex; justify-content: center; align-items: center; width: 100%;">
      <img src="assets/images/logo/mat_kolla_hd.png" class="sidebar-brand-full" style="max-height: 50px; max-width: 100%; object-fit: contain;" alt="Mat Kolla Logo" />
      <img src="assets/images/logo/mat_kolla_hd.png" class="sidebar-brand-narrow" style="max-height: 50px; max-width: 100%; object-fit: contain;" alt="Mat Kolla Logo" />
    </c-sidebar-brand>
  </c-sidebar-header>

  <ng-scrollbar pointerEventsMethod="scrollbar" visibility="hover">
    <c-sidebar-nav [navItems]="navItems" />
  </ng-scrollbar>

  @if (!sidebar1.narrow) {
    <c-sidebar-footer cSidebarToggle="sidebar1" class="border-top d-none d-lg-flex" toggle="unfoldable" style="cursor: pointer;">
      <button cSidebarToggler aria-label="Toggle sidebar fold"></button>
    </c-sidebar-footer>
  }
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100">
  <!--app-header-->
  <app-default-header
    [cShadowOnScroll]="'sm'"
    class="mb-4 d-print-none header header-sticky p-0 shadow-sm"
    position="sticky"
    sidebarId="sidebar1"
  />
  <!--app-body-->
  <div class="body flex-grow-1">
    <c-container breakpoint="lg" class="h-auto px-4">
      <router-outlet />
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer />
</div>
